.main {
  padding: 1rem;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  justify-items: center;
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 10rem 25rem;
}

.middle {
  width: 100%;

  padding: 10rem 0;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  padding: 10rem 0rem;
}

.chessBoardContainer {
  min-width: 750px;
}

.chessboard {
  border: 1px solid black;
  margin: 1rem;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  max-width: 750px;
}

.whiteSquare {
  border: 1px solid black;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.14);

  display: flex;
  justify-content: center;
  align-items: center;
}

.whiteSquare::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.blackSquare {
  border: 1px solid black;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.14);

  display: flex;
  justify-content: center;
  align-items: center;
}

.blackSquare::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.blackChessPiece {
  color: black;
  font-size: 10vw;
}

.whiteChessPiece {
  color: white;
  font-size: 10vw;
}

.boardPiecesPlaceholder {
  display: none;
}

.funfactBox {
  background-color: #404040;
  margin-top: 10rem;
  border-radius: 1rem;
  padding: 2rem;

  max-width: 750px;
}

.funfactBoxTitle {
  background-color: #212121;
  font-size: 6rem;
  border-radius: 1rem;

  text-align: center;
  padding: 1rem;
  margin-bottom: 4rem;
}

.funfactBoxText {
  font-size: 4rem;
}

@media (min-width: 750px) {
  .blackChessPiece {
    font-size: 10rem;
  }

  .whiteChessPiece {
    font-size: 10rem;
  }
}
