.tvOnlyWarning {
  display: none;
}

.tvOnlyWarningContent {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.main {
  padding: 1rem;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  justify-items: center;

  background-color: #212121;
}

@media only screen and (max-width: 3000px) {
  .tvOnlyWarning {
    display: unset;
  }

  .main {
    display: none;
  }
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 10rem 25rem;
}

.middle {
  width: 100%;

  padding: 10rem 0;
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  padding: 10rem 0rem;
}

.matchListContainer {
  max-height: 1350px;
  overflow: scroll;

  border-radius: 1rem;
}

.chessBoardContainer {
  min-width: 750px;
}

.chessboard {
  border: 1px solid black;
  margin: 1rem;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  max-width: 750px;
}

.whiteSquare {
  border: 1px solid black;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.14);

  display: flex;
  justify-content: center;
  align-items: center;
}

.whiteSquare::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.qrCodeBox {
  background-color: #404040;
  border-radius: 1rem;
  padding: 2rem;

  max-width: 750px;
  margin-bottom: 2rem;
}

.qrCodeBoxTitle {
  background-color: #212121;
  color: white;
  font-size: 6rem;
  border-radius: 1rem;

  text-align: center;
  padding: 1rem;
}

.qrCode {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.qrCodeImage {
  padding: 20px;
  background-color: white;
  border-radius: 2rem;
}

.twitterBox {
  background-color: #404040;
  border-radius: 1rem;
  padding: 2rem;

  max-width: 750px;
  margin-bottom: 4rem;
}

.twitterBoxTitle {
  background-color: #212121;
  color: white;
  font-size: 6rem;
  border-radius: 1rem;

  text-align: center;
  padding: 1rem;
}

.twitterFeedContainer {
  max-height: 950px;
  max-width: 500px;
  margin: auto;
  overflow: scroll;
  border-radius: 4rem;
  padding-top: 2rem;
}

.blackSquare {
  border: 1px solid black;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.14);

  display: flex;
  justify-content: center;
  align-items: center;
}

.blackSquare::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.blackChessPiece {
  color: black;
  font-size: 10vw;
}

.whiteChessPiece {
  color: white;
  font-size: 10vw;
}

.boardPiecesPlaceholder {
  display: none;
}

.funfactBox {
  background-color: #404040;
  margin-top: 10rem;
  border-radius: 1rem;
  padding: 2rem;

  max-width: 750px;
}

.funfactBoxTitle {
  background-color: #212121;
  color: white;
  font-size: 6rem;
  border-radius: 1rem;

  text-align: center;
  padding: 1rem;
  margin-bottom: 4rem;
}

.funfactBoxText {
  font-size: 4rem;
}

.houseRulesBox {
  background-color: #404040;
  margin-top: 10rem;
  border-radius: 1rem;
  padding: 2rem;

  max-width: 750px;
}

.houseRulesBoxTitle {
  background-color: #212121;
  color: white;
  font-size: 6rem;
  border-radius: 1rem;

  text-align: center;
  padding: 1rem;
  margin-bottom: 4rem;
}

.houseRulesList {
  list-style: none;
  font-size: 4rem;
}

.houseRule {
  display: flex;
  padding: 1rem 0;
}

.houseRulesPoint {
  padding-right: 2rem;
  display: flex;
}

@media (min-width: 750px) {
  .blackChessPiece {
    font-size: 10rem;
  }

  .whiteChessPiece {
    font-size: 10rem;
  }
}
