.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2rem;
}

.blackBox {
  border: 1px solid black;
  padding: 2rem;
  margin: 1rem;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  max-width: 750px;
}
.whiteBox {
  border: 1px solid black;
  padding: 2rem;
  margin: 1rem;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  max-width: 750px;
}

.chessboard {
  border: 1px solid black;
  margin: 1rem;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  max-width: 750px;
}

.whiteSquare {
  border: 1px solid black;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.14);

  display: flex;
  justify-content: center;
  align-items: center;
}

.whiteSquare::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.blackSquare {
  border: 1px solid black;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.14);

  display: flex;
  justify-content: center;
  align-items: center;
}

.blackSquare::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.blackChessPiece {
  color: black;
  font-size: 10vw;
}

.whiteChessPiece {
  color: white;
  font-size: 10vw;
}

.storeStandingButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  margin-top: 2rem;
  padding: 1rem;
  background-color: #212121;
  border-radius: 4px;

  margin: 2rem 1rem;
}

.storeStandingButton:hover {
  background-color: #404040;
}

@media (min-width: 750px) {
  .blackChessPiece {
    font-size: 10rem;
  }

  .whiteChessPiece {
    font-size: 10rem;
  }
}
